@{
	List<Area52.Models.Entity> entities = ViewBag.DataContext.Entities; 
    ViewBag.Title = "Home Page";
}
<ul>
@foreach (var entity in entities) {
	<li>@entity.Name</li>
	<ul>
	@foreach (var property in entity.Properties) {
		<li>@property.Name: @property.Type.Name</li>
	}
	</ul>
}
</ul>	